* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}

:root {
  --first: #62B5E5;
  --second: #67899c;
  --third: #addc91;
}

/* Authentication: sign in and sign up */
.authen-page {
  margin: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem ;
  border-radius: 0.5rem;
  height: 85vh;
}

.authen-page i {
  margin-bottom: 2rem;
}

.fa-user-circle {
  font-size: 7rem;
  color: var(--first);
}

.authen-page form {
  display: flex;
  flex-direction: column;
}

.authen-page input {
  border: 1px solid var(--first);
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.authen-page button {
  background-color: var(--first);
  border: none;
  border-radius: 0.3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.authen-text {
  color: var(--second);
  margin-top: 1rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

.authen-text a {
  color: #62B5E5;
  font-weight: bolder;
}

.authen-page label {
  color: var(--second);
  font-size: 0.8rem;
  margin: 0.2rem 0 0.2rem 0;
}

.ielts-text {
  color: var(--second);
  font-size: 0.8rem;
  margin-top: 4rem;
  line-height: 1.4rem;
  width: 60%;
  text-align: center;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.f-icons svg {
  width: 1.4rem;
  color: #fff;
}

footer ul {
  display: flex;
}

.f-con li {
  list-style: none;
  background-color: var(--second);
  display: block;
  flex: 1;
  text-align: center;
  padding: 0.2rem 0;
}

.f-text {
  font-size: 0.6rem;
  color: #fff;
}












/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  display: none;
  width: 120px;
  background-color: rgb(92, 92, 92);
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  display: inline-block;
}